*{
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

.banner{
    width: 100%;
    height: fit-content;
    overflow: hidden;
    text-align: center;
}

.banner:hover{
    cursor: grab;
}

.imageDisc{
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0%;
    text-shadow: 2px 2px 2px gray;
}

.imageDisc h1, .imageDisc h4, .imageDisc button{
    padding: 15px 40px;
}

.imageDisc h1{
    font-size: 60px;
    border: 3px solid white;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.imageDisc h4{
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 900;
    margin-top: 35px;
    line-height: 1.1;
}

.imageDisc button{
    background: transparent;
    border-color: white;
    font-size: 22px;
    letter-spacing: 4px;
    font-weight: 700;
    color: white;
    line-height: 1.7;
    text-shadow: 5rem;
    margin-top: 25px;
    padding: 20px 28px;
    text-shadow: 1px 1px 1px gray;
}

.imageDisc button:hover{
    background-color: black;
    color: white;
    border-color: black;
    transition: ease-in-out 500ms;
}

.mainHeader{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px rgb(199, 196, 196);
}

.options li{
    list-style-type: none;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: rgb(14, 208, 14);
}

.options ul{ 
    display: flex;
    gap: 50px;
    font-size: 14px;
}

a:hover{
    cursor: pointer;
    transition: 300ms;
    color: rgb(20, 128, 20);
}

.mainAboutAudioPro span, .nameAndPosition h4, .mainWorkTitle span{
    color: rgb(14, 208, 14);
}

.icons{
    gap: 20px;
    display: flex;
    font-size: 21px;
}

.mainAboutAudioPro{
    width: 100%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.AboutTitle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainAboutAudioPro h1{
    width: fit-content;
    font-size: 40px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    text-transform: uppercase;
}

.anotherOne{
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}

.AboutAudioLeft{
    margin: 5rem 5rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hexagon{
    width: 200px;
    height: 200px;
    clip-path: polygon(50% 0, 92.5% 25%, 92.5% 75%, 50% 100%, 7.5% 75%, 7.5% 25%);
    margin-bottom: 1rem;
} 

.hexagon img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.nameAndPosition{
    margin-bottom: 1rem;
}

.nameAndPosition h5{
    margin: 5px 0px;
    font-size: 16px;
}

.ceoDiscription p{
    width: 88%;
    line-height: 25px;
    font-size: 13px;
    margin-bottom: 2rem;
}

.ceoAccounts {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.ceoAccounts a{
    clip-path: polygon(50% 0, 92.5% 25%, 92.5% 75%, 50% 100%, 7.5% 75%, 7.5% 25%);
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(14, 208, 14);
}

.AboutAudioLeft button{
    padding: 1rem 1.5rem;
    background-color: rgb(28, 187, 28);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.AboutAudioLeft button:hover{
    background-color: black;
    transition: 500ms;
    cursor: pointer;
}

.AboutAudioright{
    width: 40%;
}

.AboutAudioright:hover{
    cursor: grab;
}

.whatWeDo{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: url("/assets/full-width-bg-about.jpeg") center repeat fixed;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mainWork{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainWorkTitle h1{
    width: fit-content;
    padding-top: 5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    border-bottom: 1px solid rgb(200, 200, 200);
    padding-bottom: 5px;
    margin-bottom: 1rem;
}

.ourWork{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ourWork p{
    width: 48%;
    font-size: 13px;
    text-align: center;
    color: rgb(138, 136, 136);
    line-height: 25px;
    padding-bottom: 3rem;
}

.singleService{
    width: 18%;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.serviceName h3{
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.serviceDisc{
    line-height: 25px;
    margin-bottom: 5rem;
}

.services{
    display: flex;
    justify-content: center;
}

.cards{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}